* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}

.flex {
    display: flex;
}

.flex-just {
    justify-content: center;
}

.flex-align {
    align-items: center
}

a {
    text-decoration-line: none;
}

.active {
    color: rgb(146, 212, 54)
}

